In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
shots = pd.read_excel('ShotSpotter Data 14-17 180213_0.xlsx')

In [3]:
# https://gis.stackexchange.com/questions/174159/convert-a-pandas-dataframe-to-a-geodataframe
from shapely.geometry import Point

In [4]:
geometry = [Point(xy) for xy in zip(shots['Lat (100)'], shots['Lon (100)'])]
shots.drop(['Lat (100)', 'Lon (100)'], axis=1, inplace=True)
crs = {'init': 'epsg:4326'}
gdf = gpd.GeoDataFrame(shots, geometry=geometry, crs=crs)

In [5]:
psa = gpd.read_file('Police_Service_Areas.geojson', )

In [6]:
psa = psa[['PSA','geometry']]
psa.head()

   PSA                                           geometry
0  708  POLYGON ((-77.00373311312961 38.83098011380654...
1  706  POLYGON ((-76.97982547209897 38.83786582274727...
2  705  POLYGON ((-76.99230859217997 38.84420083957919...
3  707  POLYGON ((-76.99631340902138 38.84654051811096...
4  704  POLYGON ((-76.97453810736511 38.85272679863991...

In [7]:
geo_shots_psa = gpd.sjoin(gdf, psa, how='left', op='within')

In [8]:
geo_shots_psa.head()

,ID,Type,Date,Time,Source,geometry,index_right,PSA
0,5D39700,Multiple_Gunshots,2014-01-01,00:00:02,WashingtonDC5D,POINT (38.917 -77.012),NaN,NaN
1,5D39701,Multiple_Gunshots,2014-01-01,00:00:06,WashingtonDC5D,POINT (38.917 -77.002),NaN,NaN
2,5D39702,Multiple_Gunshots,2014-01-01,00:00:07,WashingtonDC5D,POINT (38.917 -76.98699999999999),NaN,NaN
3,7D119445,Multiple_Gunshots,2014-01-01,00:00:10,WashingtonDC7D,POINT (38.823 -77),NaN,NaN
4,1D55993,Multiple_Gunshots,2014-01-01,00:00:10,WashingtonDC1D,POINT (38.893 -76.99299999999999),NaN,NaN